<!-- DRAGABLE IMAGE -->
<div class="draggable-image">
    <!-- <span class="close-btn"><i class="ri-close-fill"></i></span> -->
    <!-- <a href="/select-card"><img src="/images/sell1.png" alt="Draggable" class="zoom-image"/></a> -->
</div>

    <!-- FLOATING CONTACT  -->
    <a href="https://wa.me/2347045167609?text=Hi%20Poplox%20Team%2C%20I'm%20interested%20in%20boosting%20my%20socials%20with%20your%20services.%20Can%20you%20tell%20me%20more%3F"
        class="whatsapp-float" target="_blank" aria-label="Chat with Poplox on WhatsApp">
        <i class="ri-whatsapp-line"></i>
    </a>

