<!-- ALL ABOUT TELEGRAM GROUP  -->
<section class="review section__container" data-aos="fade-up">
    <div class="banner">
        <h1>Join our Telegram channel <span class="arrow-button"></span></h1>
        <button onclick="window.open('https://t.me/poplox000', '_blank')">
            Stay with us and follow the news
        </button>
        <img src="https://promovk.ru/panel/images/telegram_hover.svg" alt="Paper Plane" class="paper-plane left">
        <img src="https://promovk.ru/panel/images/telegram_hover.svg" alt="Paper Plane" class="paper-plane right">
    </div>
</section>





<!-- ALL ABOUT FOOTER SECTION  -->
<footer class="section__container footer__container" data-aos="fade-up">

    <div class="footer__col" data-aos="fade-left">
        <div class="footer__logo">
            <a href="/"><img src="images/logo.png" alt="Poplox Logo" /></a>
        </div>
        <p>
            Poplox is your all-in-one SMM panel for fast, secure, and affordable social media growth. Whether you're
            boosting your own brand or reselling to clients, we’ve got the tools you need to scale up — instantly.
        </p>
        <div class="footer__socials">
            <a href="#"><i class="ri-facebook-fill"></i></a>
            <a href="#"><i class="ri-instagram-line"></i></a>
            <a href="#"><i class="ri-twitter-fill"></i></a>
            <a href="#"><i class="ri-youtube-line"></i></a>
            <a href="#"><i class="ri-tiktok-fill"></i></a>
        </div>
    </div>

    <div class="footer__col cool">
        <h4>Platforms</h4>
        <a href="#">TikTok Boost</a>
        <a href="#">Telegram Boost</a>
        <a href="#">Facebook Growth</a>
        <a href="#">Twitter Services</a>
        <a href="#">YouTube Views</a>
        <a href="#">Instagram Tools</a>
    </div>

    <div class="footer__col cool">
        <h4>Support</h4>
        <a href="/reviews">Reviews</a>
        <a href="/contact-us">Contact Support</a>
        <a href="/t&c">Terms & Conditions</a>
        <a href="/t&c">Privacy Policy</a>
    </div>

    <div class="footer__col cool">
        <h4>Company</h4>
        <a href="/about">About Poplox</a>
        <a href="/blogs">Blogs</a>
        <a href="/careers">Careers</a>
        <a href="/api-docs">API Docs</a>
    </div>
</footer>

<div class="footer__bar">
    <p>&copy; 2025 Poplox. Built for creators & resellers.</p>
</div>