@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


:root {
  --primary-color: #0d0d0d;
  --primary-color-light: #1f2125;
  --primary-color-extra-light: #35373b;
  --secondary-color: #696fdd;
  --secondary-color-dark: #a3a8f0;
  --text-light: #ccc;
  --white: #fff;
  --background-gradient: linear-gradient(135deg, rgb(186, 190, 253) 0%, rgb(66, 71, 158) 100%);
  --background1: linear-gradient(113.36deg, #000002 -12.22%, #9685de 179.61%);
  --background2: linear-gradient(180deg, #d6d9fa, rgb(149, 154, 243));
  --max-width: 1300px;
}



.api {
    display: flex;
    flex-direction: column;
    gap: 30px;
  width: 100%;
  margin: 0 auto;
  background: transparent;
  padding: 20px 0px;
  /* border-radius: 50px; */
  /* border: 1px solid var(--secondary-color-dark); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.api a{
    color: #696fdd;
}



/* INFO AND RESPONSE  */
.content {
    padding: 20px 0;
    padding-top: 0;
    width: 100%; 
    min-height: 0px;
    border-radius: 30px;
}

.header {
  background: var(--background-gradient);
  padding: 8px 20px;
  text-align: left;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.icon-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Luckiest Guy', cursive;
}

.icon-title .icon {
  font-size: 24px;
  margin-right: 10px;
}


.parameters {
  display: flex;
  font-size: 15px;
  color: var(--text-light);
  justify-content: space-between;
  max-width: 500px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.parameters div p {
  margin: 5px 0;
}

.example{
  margin-left: 30px;
  color: var(--text-light);
}

.code-box {
  background-color: #121212;
  padding: 20px;
  border-radius: 10px;
  overflow-x: auto;
  font-family: monospace;
  color: #00ffcc;
  margin: 5px 15px;
}





    /* FLOATING CONTACT  */
.whatsapp-float {
  position: fixed;
  font-family: 'Luckiest Guy', cursive;
  bottom: 30px;
  right: 20px;
  background:  #25d366;
  color: white;
  font-size: 26px;
   padding: 5px 8px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 4px 4px var(--primary-color-light);
  transition: transform 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}






/* MY RESPONSIVNESS  */
@media (max-width: 768px) {
.content{
    width: 100%;
}

.parameters {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: var(--text-light);
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 0px;
    padding: 0 10px;
}


.parameters div:first-child{
    width: 50%;
}

.parameters div:last-child{
    width: 60%;
}

}